<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Editar</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div id="sub_header"> </div>
        <form method="post" action="/editar/<%= animeAtual.id %> ">
            <fieldset id="main_field">
                <legend id="edicao">Editando <%= animeAtual.nome %> </legend>
                <fieldset>
                    <label for="nome"> Nome </label>
                    <input type="text" name="nome" required value="<%= animeAtual.nome %> ">
                </fieldset>
    
                <fieldset>
                    <label for="genero"> Gênero </label>
                    <input type="text" name="genero" required value="<%= animeAtual.genero %> ">
                </fieldset>
    
                <fieldset>
                    <label for="autor"> Autor </label>
                    <input type="text" name="autor" required value="<%= animeAtual.autor %> ">
                </fieldset>
    
                <fieldset>
                    <label for="temporadas"> Temporadas </label>
                    <input type="number" name="temporadas" required value="<%= animeAtual.temporadas %> ">
                </fieldset>
    
                <fieldset>
                    <label for="episodios"> Episódios </label>
                    <input type="number" name="episodios" required value="<%= animeAtual.episodios %> ">
                </fieldset>
    
                <fieldset>
                    <label for="img"> Imagem </label>
                    <input type="url" name="img" required value="<%= animeAtual.img %> ">
                </fieldset>
    
                <fieldset>
                    <label for="iframe"> iFrame </label>
                    <input type="text" name="iframe" required value="<%= animeAtual.iframe %> ">
                </fieldset>
    
                <fieldset>
                    <label for="lancamento"> Lançamento </label>
                    <input type="number" name="lancamento" required value="<%= animeAtual.lancamento %> ">
                </fieldset>

                <fieldset>
                    <label for="sinopse"> Sinopse </label>
                    <input type="text" name="sinopse" required value="<%= animeAtual.sinopse %> ">
                </fieldset>
    
                <button type="submit"> Enviar </button>

            </fieldset>            

        </form>
    </main>
    <%- include('./partials/footer.ejs') %>

</body>
</html>